$white: #fff;
$background: #888;
$shadow-head-text: #656565;
$li-background: cadetblue;
$one: #7CFC00;
$two: #008B8B;
$three: #FF8C00;
$light-sea: lightseagreen;
$light-sky: lightskyblue;
$light-gr: lightgreen;
$light-yellow: #fcff7f;
$dark-sea: darken($light-sea, 5%);
$dark-sky: darken($light-sky, 5%);
$dark-gr: darken($light-gr, 5%);
$dark-yellow: darken($light-yellow, 5%);

@function make-long-shadow($color, $through) {
  $val: 0px 0px $color;
  @for $i from 1 through $through {
    @if ($through - $i) > 5 {
      $val: #{$val}, #{$i}px #{$i}px #{$color};
    } @else {
      $color: lighten($color, 2%);
      $val: #{$val}, #{$i}px #{$i}px $color;
    }
  }
  @return $val;
}


@mixin display-content($display, $justify, $direction, $wrap, $align-justify: justify) {
  display: $display;
  flex-flow: $direction $wrap;
  #{$align-justify}-content: $justify;
}

@mixin long-shadow($color,$through ) {
  text-shadow: make-long-shadow($color, $through);
}

@mixin content-before-after($content,$display) {
  content: $content;
  display: $display;
}

@mixin h1-before-after($side-one, $side-two) {
  #{$side-one}: 0.5em;
  margin-#{$side-two}: -50%;
}

@mixin box-model($sizing) {
  box-sizing: #{$sizing}-box;
  -moz-box-sizing: #{$sizing}-box; /*Firefox 1-3*/
  -webkit-box-sizing: #{$sizing}-box; /* Safari */
}

@mixin box-radius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Google Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  -o-border-radius: $radius; /* Opera */
  -ms-border-radius: $radius; /* IE8 */
  -icab-border-radius: $radius; /* Icab */
  border-radius: $radius; /* CSS3 */
}

.clearfix {
  *zoom: 1;
  &::before, &::after {
    @include content-before-after("", table);
  }
  &::after {
    clear: both;
  }
}

html, body {
  height: 100%;
}

header, footer, .onecolumn {
  background-color: $background;
}

header, footer {
  font-size: 4vw;
  text-align: center;
  height: 150px;
  span {
    line-height: 150px;
    @include long-shadow($shadow-head-text, 21);
    height: 100%;
    width: 100%;
    font-size: 0.9em;
    &::before, &::after {
      @include content-before-after('\229A', inline-block);
      font-size: 0.5em;
      padding: 0 15px;
      margin-top: -10px;
      vertical-align: middle;
      @include long-shadow($shadow-head-text, 8);
    }
  }
}

.footer {
  position: relative;
  margin: -150px 20px 0;
}

h1 {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  &:before, &:after {
    background-color: white;
    @include content-before-after(" ", inline-block);
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &:before {
    @include h1-before-after(right, left);
  }
  &:after {
    @include h1-before-after(left, right);
  }
}

.wrap {
  height: auto;
  min-height: 100%;
  margin: 0 20px;
}

.main {
  margin-top: 10px;
  padding-bottom: 150px;
}

.onecolumn {
  width: 100%;
  min-height: 380px;
  background-color: $background;
  margin-bottom: 10px;
  padding:15px;

}