@import "main-style";
@import "style";

$change-background: rgba(255, 255, 255, 0.5);
$but-color: #666;
$someblack: rgba(0, 0, 0, 0.2);

.div1, .div2, .div3 {
  padding: 15px 0;
  margin-bottom: 35px;
  height: 100px;
  width: auto;
}

.div-sel, .sel, .top, .right, .bottom, .left, .but {
  display: block;
  width: 100px;
  margin: 20px;
  color: $white;
  @include box-model(border);
  padding: 2px 5px;
  @include box-radius(3px);
  outline-color: $one;
  text-overflow: clip;
  letter-spacing: 0.5px;
  background: lighten($but-color, 7%);
  box-shadow: 2px 2px 2px 0 $someblack inset;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.onecolumn {
  background-color: transparent;
}

.change {
  position: fixed;
  z-index: 999;
  background-color: $change-background;
  @include box-radius(2px);
  top: 70px;
  right: 25px;
}

.div1, .but, details[open] {
  background-color: $one;
}

.div2 {
  background-color: $two;
}

.div3 {
  background-color: $three;
}

.but {
  padding: 5px;
  box-shadow: 2px 2px 2px 0 transparentize($change-background, 0.1) inset;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 transparentize($change-background, 0.3) inset;
    color: $but-color;
  }
}

details {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 999;
  background-color: $white;
  padding: 5px 15px;
  @include box-radius(3px);
  border: none;
  width: 140px;
  outline: none;
}

.name_summary {
  color: darken($but-color, 2%);
}