@import "main-style";
@import "style";
$left-background: $li-background;

.main {
  @include display-content(flex, space-between, row-reverse, nowrap );
  margin-top: 10px;
  padding-bottom: 150px;
}

.left {
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  background-color: $left-background;
  width: 700px; }

.right {
  height: 300px;
  margin-bottom: 10px;
  background-color: darken($left-background, 5%);
  width: 40%;
  margin-left: 10px; }

@media screen and(max-width: 620px) {
  .main {
    @include display-content(flex, space-around, column, nowrap, align );
  }
  .left, .right {
    width: auto;
    height: 250px;
  }
  .right {
    margin-left: 0;
  }
}