@import "main-style";


.list-of-lists {
    @include display-content(flex, center, row, wrap, align );
}

.list-of-tasks {
    @include display-content(inline-flex, center, row, wrap);
    ul {
        @include display-content(inline-flex, center, column, wrap);
        color: $white;
        margin: 10px;
        text-decoration: none;
        li {
            background-color: $li-background;
            font-size: 1.3em;
            font-style: normal;
            margin: 10px;
            width: 400px;
            box-sizing: border-box;
            border: 5px solid $white;
            border-radius: 3px;
            padding: 5px;
            a {
                text-decoration: none;
            }
            &:hover {
                background-color: darken($li-background,5%);
            }
        }
    }
}