@import "main-style";

@mixin long-box-shadow($color,$through ) {
  box-shadow: make-long-shadow($color, $through);
}

.linear, .radial {
  height: 640px;
  padding: 20px 20px 0 20px;
  background-clip: content-box;
}

.flex {
  @include display-content(flex, space-around, row, wrap);
  white-space: pre-line;
  word-wrap: break-word;
  text-overflow: clip;
  li {
    position: relative;
    height: 150px;
    width: 30%;
    margin: 15px 0;
    border: $white 5px solid;
    @include box-radius(2px);
    @include long-box-shadow($shadow-head-text, 13);
    //box-shadow: #656565 1px 1px, #656565 2px 2px, #656565 3px 3px, #656565 4px 4px, #656565 5px 5px, #656565 6px 6px, #656565 7px 7px, #656565 8px 8px, #656565 9px 9px, #656565 10px 10px, #656565 11px 11px, #767676 12px 12px, #888 13px 13px;
    background-color: $background;
    span {
      display: inline-block;
      padding: 2px;
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: darken($background, 1%);
      line-height: 1.1em;
    }
  }
}

#lin1 {
  background: repeating-linear-gradient(-90deg, $light-sea 0, $light-sky 20%, $light-gr 50%, $light-yellow 70%, $light-sea 90%);
}

#lin2 {
  background: linear-gradient(30deg, $light-sea 0, $light-sky 20%, $light-gr 50%, $light-yellow 80%);
}

#lin3 {
  background: repeating-linear-gradient(to right, $light-sea 41px, $light-sky 42px, $light-sky 82px, $light-gr 83px, $light-gr 123px, $light-yellow 124px, $light-yellow 164px, $light-sea 165px, $light-sea 205px);
}

#lin4 {
  background: repeating-linear-gradient(45deg, $light-sky 10%, $light-gr 15%, $light-gr 15%, $light-yellow 15%, $light-yellow 20%, $light-sea 20%, $light-sea 25%);
}

#lin5 {
  background: repeating-linear-gradient($light-gr, $light-gr 10px, $light-sea 10px, $light-sea 20px, $light-yellow 20px, $light-yellow 30px, $light-sky 30px, $light-sky 40px);
}

#lin6 {
  background: linear-gradient(to right, $light-sea 0, $light-sky 50%);
}

#lin7 {
  background: repeating-linear-gradient(to right, $light-sea, $dark-sea 41px, $light-sky 42px, $dark-sky 82px, $light-gr 83px, $dark-gr 123px, $light-yellow 124px, $dark-yellow 164px);
}

#lin8 {
  background: repeating-linear-gradient(to left top, $light-sea, $dark-sea 4px, $light-sky 5px, $dark-sky 9px, $light-gr 10px, $dark-gr 14px, $light-yellow 15px, $dark-yellow 19px);
}

#lin9 {
  background: linear-gradient(to bottom, $light-gr, $light-yellow);
}

#rad1 {
  background: repeating-radial-gradient(25% 50%, $light-sea 0, $light-sky 20%, $light-gr 50%, $light-yellow 70%, $light-sea 90%);
}

#rad2 {
  background: radial-gradient(50% 25%, $light-sea 0, $light-sky 20%, $light-gr 50%, $light-yellow 80%);
}

#rad3 {
  background: repeating-radial-gradient(farthest-side at 300px 150px, $light-sea 41px, $light-sky 42px, $light-sky 82px, $light-gr 83px, $light-gr 123px, $light-yellow 124px, $light-yellow 164px, $light-sea 165px, $light-sea 205px);
}

#rad4 {
  background: repeating-radial-gradient($light-sky 10%, $light-gr 15%, $light-gr 15%, $light-yellow 15%, $light-yellow 20%, $light-sea 20%, $light-sea 25%);
}

#rad5 {
  background: repeating-radial-gradient(25% 50%, $light-gr, $light-gr 10px, $light-sea 10px, $light-sea 20px, $light-yellow 20px, $light-yellow 30px, $light-sky 30px, $light-sky 40px);
}

#rad6 {
  background: radial-gradient(closest-corner at 50px 50px, $light-sea 0, $light-sky 50%);
}

#rad7 {
  background: repeating-radial-gradient(closest-side at 40px 50px, $light-sea, 41px, $light-sky 42px, $dark-sky 82px, $light-gr 83px, $dark-gr 123px, $light-yellow 124px, $dark-yellow 164px);
}

#rad8 {
  background: repeating-radial-gradient(farthest-corner at 5px 5px, $light-sea, $dark-sea 4px, $light-sky 5px, $dark-sky 9px, $light-gr 10px, $dark-gr 14px, $light-yellow 15px, $dark-yellow 19px);
}

#rad9 {
  background: radial-gradient(20% 80%, $light-gr, $light-yellow);
}

div:first-of-type {
  margin-bottom: 10px;
}