@import "main-style";

.description-select {
  text-align: center;
}

.lists-container {
  @include display-content(flex, center, column, wrap);
}

.list {
  @include display-content(inline-flex, center, row, nowrap);
}

.list-item {
  width: 6%;
  height: 40px;
  background-color: $one;
  margin: 5px;
  &:only-of-type {
    background-color: $two;
  }
}

#list-2 .list-item:nth-last-of-type(10):first-of-type {
  background-color: $two;
}

#list-3 .list-item:nth-last-of-type(10):first-of-type {
  background-color: $two;
  ~ .list-item {
    background-color: $two;
  }
}

#list-4 .list-item:nth-last-child(n+9) {
  background-color: $two;
  ~ .list-item {
    background-color: $two;
  }
}

#list-5 .list-item:nth-last-child(-n+12):first-child {
  background-color: $two;
  ~ .list-item {
    background-color: $two;
  }
}