@import "main-style";
@import "style";

.main {
  @include display-content(flex, space-between, row-reverse, nowrap);
  margin-top: 10px;
  padding-bottom: 150px;
}

.one-flex, .two-flex, .three-flex {
  min-height: 250px;
  background-color: $background;
  width: 32%;
  margin-bottom: 10px;
}

.one-flex {
  background-color: $one;
}

.two-flex {
  background-color: $two;
}

.three-flex {
  background-color: $three;
}

@media screen and (max-width: 640px) {
  .main {
    @include display-content(flex, space-between, column, wrap, align);
  }

  .one-flex, .two-flex, .three-flex {

    width: 100%;
    min-height: 200px;
  }
}