@import "main-style";

table {
  margin: 20px 10vw;
  display: inline-block;
}

td {
  padding: 5px 10px;
  width: 80vw;
}

.align-cent {
  background-color: $shadow-head-text;
}

tr {
  line-height: 1.5em;
  border-bottom: 1px dashed $white;
  &:first-of-type {
    border-top: 1px dashed $white;
  }
  &:last-of-type {
    border-bottom: none;
  }
}