//colors
$color_tapa_approx: #777;
$color_chartreuse_62_approx: rgba(124, 252, 0, 0.62);
$color_blue_chill_75_approx: rgba(0, 139, 139, 0.75);
$color_pizazz_68_approx: rgba(255, 140, 0, 0.68);

//@extend-elements
//original selectors
//#one, #two, #three
%extend_1 {
    min-height: 250px;
    background-color: $color_tapa_approx;
    width: 32%;
    margin-bottom: 10px;
}


.main {
    margin-top: 10px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}
#one {
    @extend %extend_1;
    background-color: $color_chartreuse_62_approx;
}
#two {
    @extend %extend_1;
    background-color: $color_blue_chill_75_approx;
}
#three {
    @extend %extend_1;
    background-color: $color_pizazz_68_approx;
}
@media screen and(max-width: 640px) {
    .main {
        flex-flow: column wrap;
        align-content: space-between;
    }
    #one {
        width: 100%;
        min-height: 200px;
    }
    #two {
        width: 100%;
        min-height: 200px;
    }
    #three {
        width: 100%;
        min-height: 200px;
    }
}