$white: #fff;

@mixin before-after-clear {
content: " ";
display: table; 
}

@mixin h1-before-after($side-one, $side-two) {
 #{$side-one}: 0.5em;
    margin-#{$side-two}: -50%;
	}
	

  
	
.clearfix {
    *zoom: 1;
  &::before, &::after {
  @include before-after-clear;
    }
&::after {
    clear: both; }
	}


html,body {
  height: 100%; }

header, footer {
  font-size: 4vw;
  text-align: center;
  height: 150px;
  background-color: #888;
  span {
    line-height: 150px;
    text-shadow: #656565 1px 1px, #656565 2px 2px, #656565 3px 3px, #656565 4px 4px, #656565 5px 5px, #656565 6px 6px, #656565 7px 7px, #656565 8px 8px, #656565 9px 9px, #656565 10px 10px, #656565 11px 11px, #656565 12px 12px, #656565 13px 13px, #656565 14px 14px, #656565 15px 15px, #656565 16px 16px, #656565 17px 17px, #656565 18px 18px, #656565 19px 19px, #656565 20px 20px, #656565 21px 21px, #707070 22px 22px, #7c7c7c 23px 23px, #888 24px 24px;
    background-color: #888;
    height: 100%;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    &::before, &::after {
      content: '\25c9';
      font-size: 0.5em;
      display: inline-block;
      padding: 0 15px;
      margin-top: -10px;
      vertical-align: middle;
      text-shadow: #656565 1px 1px, #656565 2px 2px, #656565 3px 3px, #707070 4px 4px, #7c7c7c 5px 5px, #888 6px 6px;
    }
  }
}

.footer {
  position: relative;
  margin: -150px 20px 0; }
  
 h1 {
  overflow: hidden;
  text-align: center;
  vertical-align: middle; 
  
  &:before, &:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%; }
   &:before {
    @include h1-before-after(right, left); }
  &:after {
    @include h1-before-after(left,right); }
  }
  
 .wrap {
  height: auto;
  min-height: 100%;
  margin: 0 20px;
  color: #656565; }

.main {
  margin-top: 10px;
  padding-bottom: 150px; }

.onecolumn {
  width: 100%;
  min-height: 300px;
  background-color: #777; }