.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
body, html {
    height: 100%;
}
.wrap {
    height: auto;
    min-height: 100%;
    margin:0 20px;
    color: #656565;
}
header {
    height: 150px;
    background-color: #888;
}

.header>span, .footer>span {
    line-height: 150px;
    text-shadow: rgb(101, 101, 101) 1px 1px,
    rgb(101, 101, 101) 2px 2px,
    rgb(101, 101, 101) 3px 3px,
    rgb(101, 101, 101) 4px 4px,
    rgb(101, 101, 101) 5px 5px,
    rgb(101, 101, 101) 6px 6px,
    rgb(101, 101, 101) 7px 7px,
    rgb(101, 101, 101) 8px 8px,
    rgb(101, 101, 101) 9px 9px,
    rgb(101, 101, 101) 10px 10px,
    rgb(101, 101, 101) 11px 11px,
    rgb(101, 101, 101) 12px 12px,
    rgb(101, 101, 101) 13px 13px,
    rgb(101, 101, 101) 14px 14px,
    rgb(101, 101, 101) 15px 15px,
    rgb(101, 101, 101) 16px 16px,
    rgb(101, 101, 101) 17px 17px,
    rgb(101, 101, 101) 18px 18px,
    rgb(101, 101, 101) 19px 19px,
    rgb(101, 101, 101) 20px 20px,
    rgb(101, 101, 101) 21px 21px,
    rgb(112, 112, 112) 22px 22px,
    rgb(124, 124, 124) 23px 23px,
    rgb(136, 136, 136) 24px 24px;
    background-color: rgb(136, 136, 136);
    height: 100%;
    width: 100%;
    font-size: 75px;
    text-align: center;
}

.header>span::before, .footer>span::before, .header>span::after, .footer>span::after {
    content: '\25c9';
    font-size: 0.5em;
    display: inline-block;
    padding: 0 15px;
    margin-top:-10px;
    vertical-align: middle;
    text-shadow:rgb(101, 101, 101) 1px 1px,
    rgb(101, 101, 101) 2px 2px,
    rgb(101, 101, 101) 3px 3px,
    rgb(112, 112, 112) 4px 4px,
    rgb(124, 124, 124) 5px 5px,
    rgb(136, 136, 136) 6px 6px;
}

.main {
    margin-top:10px;
    padding-bottom: 150px;
}

.footer {
    position: relative;
    margin: -150px 20px 0 20px;
    height: 150px;
    background-color: #888;
}
.onecolumn{
    width:100%;
    min-height: 300px;
    background-color: #888;
}

.linear, .radial {
    height: 580px;
    /*background-color: white;*/
    padding: 20px;
    background-clip: content-box;

}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0.15em;
    white-space: pre-line;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-overflow: clip;
}
.flex>li {
    display:inline-block;
    height: 150px;
    width: 30%;
    margin:15px 0;
    border: white 5px solid;

    box-shadow: rgb(101, 101, 101) 1px 1px,
    rgb(101, 101, 101) 2px 2px,
    rgb(101, 101, 101) 3px 3px,
    rgb(101, 101, 101) 4px 4px,
    rgb(101, 101, 101) 5px 5px,
    rgb(101, 101, 101) 6px 6px,
    rgb(101, 101, 101) 7px 7px,
    rgb(101, 101, 101) 8px 8px,
    rgb(101, 101, 101) 9px 9px,
    rgb(101, 101, 101) 10px 10px,
    rgb(101, 101, 101) 11px 11px,
    rgb(118, 118, 118) 12px 12px,
    rgb(136, 136, 136) 13px 13px;
    background-color: rgb(136, 136, 136);
}

div:first-of-type {
    margin-bottom: 10px;
}

li[id^="lin"], li[id^="rad"] {
    color:white;
    background-blend-mode: darken;
}

#lin1 {
    background: repeating-linear-gradient(
            -90deg, lightseagreen 0%, lightskyblue 20%,
            lightgreen 50%,  #fcff7f 70%, lightseagreen 90% );
}
#lin2 {
    background: linear-gradient(30deg, lightseagreen 0%, lightskyblue 20%, lightgreen 50%,  #fcff7f 80% );
}
#lin3 {
    background: repeating-linear-gradient(
            to right, lightseagreen 41px, lightskyblue 42px,
            lightskyblue 82px, lightgreen 83px,
            lightgreen 123px, #fcff7f 124px,
            #fcff7f 164px, lightseagreen 165px,lightseagreen 205px);
}
#lin4 {
    background: repeating-linear-gradient(
            45deg, lightskyblue 10%,lightgreen 15%,
            lightgreen 15%, #fcff7f 15%, #fcff7f 20%,
            lightseagreen 20%,lightseagreen 25%);
}
#lin5 {
    background: repeating-linear-gradient(
            lightgreen, lightgreen 10px,
            lightseagreen 10px, lightseagreen 20px,
            #fcff7f 20px, #fcff7f 30px,
            lightskyblue 30px, lightskyblue 40px);
}
#lin6 {
    background: linear-gradient(to right, lightseagreen 0%, lightskyblue 50%);}
#lin7 {
    background: repeating-linear-gradient(
            to right,lightseagreen, #1a8c84 41px, lightskyblue 42px,
            #71a6c9 82px, lightgreen 83px,
            #71bc71 123px, #fcff7f 124px,
            #d9dc71 164px);
}
#lin8 {
    background: repeating-linear-gradient(
            to left top,lightseagreen, #1a8c84 4px, lightskyblue 5px,
            #71a6c9 9px, lightgreen 10px,
            #71bc71 14px, #fcff7f 15px,
            #d9dc71 19px);
}
#lin9 {
    background: linear-gradient(to bottom, lightgreen, #fcff7f);
}

#rad1 {
    background: repeating-radial-gradient( 25% 50%,
            lightseagreen 0%, lightskyblue 20%,
            lightgreen 50%,  #fcff7f 70%, lightseagreen 90% );
}
#rad2 {
    background: radial-gradient(50% 25%, lightseagreen 0%, lightskyblue 20%, lightgreen 50%,  #fcff7f 80% );
}
#rad3 {
    background: repeating-radial-gradient( farthest-side at 300px 150px,
            lightseagreen 41px, lightskyblue 42px,
            lightskyblue 82px, lightgreen 83px,
            lightgreen 123px, #fcff7f 124px,
            #fcff7f 164px, lightseagreen 165px,lightseagreen 205px);
}
#rad4 {
    background: repeating-radial-gradient(
            lightskyblue 10%,lightgreen 15%,
            lightgreen 15%, #fcff7f 15%, #fcff7f 20%,
            lightseagreen 20%,lightseagreen 25%);
}
#rad5 {
    background: repeating-radial-gradient( 25% 50%,
            lightgreen, lightgreen 10px,
            lightseagreen 10px, lightseagreen 20px,
            #fcff7f 20px, #fcff7f 30px,
            lightskyblue 30px, lightskyblue 40px);
}
#rad6 {
    background: radial-gradient( closest-corner at 50px 50px,  lightseagreen 0%, lightskyblue 50%);}
#rad7 {
    background: repeating-radial-gradient(closest-side at 40px 50px,
            lightseagreen, #1a8c84 41px, lightskyblue 42px,
            #71a6c9 82px, lightgreen 83px,
            #71bc71 123px, #fcff7f 124px,
            #d9dc71 164px);
}
#rad8 {
    background: repeating-radial-gradient(farthest-corner at 5px 5px,
            lightseagreen, #1a8c84 4px, lightskyblue 5px,
            #71a6c9 9px, lightgreen 10px,
            #71bc71 14px, #fcff7f 15px,
            #d9dc71 19px);
}
#rad9 {
    background: radial-gradient(20% 80%,lightgreen, #fcff7f);
}