.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
body, html {
    height: 100%;
}
.wrap {
    height: auto;
    min-height: 100%;
    margin:0 20px;
}
header {
    height: 150px;
    background-color: cadetblue;
}

.main {
    margin-top:10px;
    padding-bottom: 150px;
}

.left, .right {
    height: 200px;
    width: 49%;
    margin-bottom: 10px;

}
.left {
    float:left;
    background-color: #777;

}
.right {
    float:right;
    background-color: #888;
}
.footer {
    position: relative;
    margin: -150px 20px 0 20px;
    height: 150px;
    background-color: cadetblue;
}
.onecolumn{
    width:100%;
    min-height: 300px;
    background-color: #777;
}

.list-of-tasks {
    display: inline-flex;
    flex-flow: row wrap;
}

.list-of-tasks>ul {
    display: inline-flex;
    flex-flow: column wrap;
    color: white;
    margin:10px;
    text-decoration: none;
}

.list-of-tasks>ul>li {
    background-color: cadetblue;
    font-size: 0.17em;
    font-style: normal;
    margin:10px;
    width: 250px;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 3px;
    padding: 3px;
}

.list-of-tasks>ul>li>a {
    text-decoration: none;
}

.list-of-tasks>ul>li:hover {
    background-color: #528A8C;
    border: 5px solid #DDD;
}

@media screen and (max-width: 900px) {
    .left, .right {
        width: 48.5%;

}

@media screen and (max-width: 300px){
    .header {
        font-size: 100%;
    }
    .left, .right {
        font-size: 60%;
    }
}
}

/*two stretch columns*/