/*three stretch columns with flex*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
body, html {
    height: 100%;
}

.wrap {
    height: auto;
    min-height: 100%;
    margin:0 20px;
}
header {
    height: 150px;
    background-color: cadetblue;

}

.main {
    margin-top:10px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.one, .two, .three {
    min-height: 250px;
    background-color: #777;
    width: 32%;
    margin-bottom: 10px;
}

.footer {
    position: relative;
    margin: -150px 20px 0 20px;
    height: 150px;
    background-color: cadetblue;
}

@media screen and (max-width: 640px) {
.main {
    flex-flow: column wrap;
    align-content: space-between;

}
    .one, .two, .three {
        width: 100%;
        min-height: 200px;
    }

}